<li class="featured-list-item">
  <img src={{image}} alt={{name}} onerror="src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'">
  <span class="featured-list-item-name">{{name}}</span>
  <span class="fetured-list-item-price">{{price}}$</span>
  <div class="product-icons">
    <a href="" class="product-icon-box product-link" id={{id}}>
      <svg class="product-icon">
        <use href="./images/svg/sprite.svg#icon-search"></use>
      </svg>
    </a>
    <button class="product-icon-box" id="product-cart-btn" data-id={{id}}>
      <svg class="product-icon">
        <use href="./images/svg/sprite.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</li>