<img class="product-page-image" src={{image}} alt="product name">
<div>
  <h2 class="product-name">{{name}}</h2>
  <p class="product-price">${{price}}</p>
  <p class="product-data">Manufacturer: <span class="product-data-text">{{manufacturer}}</span></p>
  <p class="product-data">Shipping: <span class="product-data-text">{{shipping}}</span></p>
  <p class="product-data">Type: <span class="product-data-text">{{type}}</span></p>
  <p class="product-data-text">{{description}}</p>
  <button class="btn add-btn">Add to cart</button>
</div>
